<%- include('partials/header') %>
    <div id="newPostHeader" class="ui main text container segment">
        <div class="ui huge header">New Blog</div>
        <form class="ui form" action="/blogs" method="post">
            <div class="field">
                <label for="">Title</label>
                <input type="text" name="blog[title]" placeholder="Title">
            </div>
            <div class="field">
                <label for="">Image</label>
                <input type="text" name="blog[image]" placeholder="image">
            </div>
            <div class="field">
                <label for=""></label>
                <textarea name="blog[body]" placeholder="Blog Content" id="" cols="30" rows="10"></textarea>
            </div>
            <input class="ui secondary button" type="submit" name="" id="">
        </form>
    </div>


    <%- include('partials/footer') %>